main {
  background: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  &>h1{
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
